In [26]:
from scipy.special import comb
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
n=3 #number of trial
k=2 #the number of success
p=0.70 #Success rate

In [28]:
p_binomial=comb(n,k)*p**k*(1-p)**(n-k)
result=p_binomial*100
print(result)

44.1

In [29]:
#suppose a factory produsces light bulbs and historically 5% of the bulbs are defective ,then 
#quality controlteam randomly selects 10 bulbs for testing what is the probability that
#exactly 2 0f them are defective?

n=10
k=2
p=0.05
p_binomial=comb(n,k)*p**k*(1-p)**(n-k)
result1=p_binomial*100
print(f'{result1:.4f}')

7.4635

In [30]:
#on average a bowler takes a wickert every eight overs what is the probability that he will bowl ten overs without succeding in getting a wicket
n=10
p=1/8
q=1-p
k=0
p_binomial=comb(n,k)*p**k*(q)**(n-k)
result=p_binomial*100
print(f'{result:.4f}')

26.3076

In [31]:
import pandas as pd
import numpy as np
from scipy.stats import binom

In [34]:
#read data
df=pd.read_csv("Online Retail.csv")
print(df.head())
print(df.info())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

In [48]:
''' 
step3: 
'''
product="WHITE HANGING HEART T-LIGHT HOLDER"
product_df=df[df["Description"]==product]
product_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:02,2.55,17850.0,United Kingdom
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:32,2.55,17850.0,United Kingdom
220,536390,85123A,WHITE HANGING HEART T-LIGHT HOLDER,64,12/1/2010 10:19,2.55,17511.0,United Kingdom
262,536394,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/1/2010 10:39,2.55,13408.0,United Kingdom
...,...,...,...,...,...,...,...,...
537291,581246,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,12/8/2011 10:59,2.95,15453.0,United Kingdom
537326,581253,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2,12/8/2011 11:15,2.95,16891.0,United Kingdom
537852,581356,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/8/2011 12:28,2.95,17830.0,United Kingdom
539979,581452,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/8/2011 18:03,2.55,17675.0,United Kingdom
540217,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/8/2011 19:55,2.95,15796.0,United Kingdom

In [42]:
#step4:calculat purchase probability
total_transactions=df.InvoiceNo.nunique()
product_transactions=len(product_df)

In [43]:
purchase_probability=product_transactions/total_transactions

In [45]:
print(f'tptal transactions:{total_transactions}')
print(f'transactions with "{product}":{product_transactions}')
print(f'purchase probability:{purchase_probability:.4f}')

tptal transactions:25900
transactions with "WHITE HANGING HEART T-LIGHT HOLDER":2369
purchase probability:0.0915

In [46]:
#step5

n=100
p=purchase_probability
simulated_purchases=np.random.binomial(n,p,3000)

In [47]:
#analyse the simulated data
simulated_df=pd.DataFrame(simulated_purchases,columns=["Number of Purchases"])
print(simulated_df.describe())

       Number of Purchases
count          3000.000000
mean              9.191333
std               2.868356
min               1.000000
25%               7.000000
50%               9.000000
75%              11.000000
max              21.000000

In [ ]:
#assignment: do a binomial distribution sumulation analysis for weekends of the tips dataset ()